<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    <style>
    .center-div {
        margin: 0 auto;
        
        /* margin: 50px 300px 50px 300px; */
        width: 700px;
         
    }
    </style>
    
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home" style="color: white;">ExchangeIdea</a>

  

    <ul class="navbar-nav ml-auto">

            <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/askquestion">Ask Question</a></button></li>
    

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white;"><%= username %> profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"  style="color: teal">My Q&A</a>
                
                <a class="dropdown-item" href="/logout"  style="color: teal">Logout</a>
              </div>
            </li>

            
    </ul>

    </nav>

    <h2 style="text-align: center;">Top Questions</h2>
    <div class="center-div">

            <% for(var i=0; i<questions.length; i++) {%>
                    <div class="card" style="border: 1px solid gray;margin-top: 5px;">
                            <div class="card-body">
                                 <a href=  <%= "/question/" + questions[i]._id %>    >  <%= questions[i].title %></a>
                                 <br>
                                 Tag:<%= " " + questions[i].tag%>
                            </div>
                    </div>
                    
            <% } %>

           
    </div>

    

    <!-- <div>
        <ul>

            <% for(var i=0; i<questions.length; i++) {%>
              
                    <li> <a href=  <%= "/question/" + questions[i]._id %>    >  <%= questions[i].title %></a></li>
            <% } %>
        </ul>


    </div> -->

    

</body>
</html>


