<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    <style>
    .center-div {
        margin: 0 auto;
        
        /* margin: 50px 300px 50px 300px; */
        width: 80%;
         
    }
    </style>
    
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home" style="color: white;">ExchangeIdea</a>

  

    <ul class="navbar-nav ml-auto">

            <li><a href="/askquestion"><button class="btn btn-secondary">Ask Question</button></a></li>


            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white;"><%= username %> profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/myquestion"  style="color: teal">My Question</a>
                <a class="dropdown-item" href="/logout"  style="color: teal">Logout</a>
              </div>
            </li>

            
    </ul>

    </nav>

    <h2 style="text-align: center;">My Questions</h2>
    <div class="center-div">

            <% for(var i=0; i<data.length; i++) {%>
                    <div class="card" style="border: 1px solid gray;margin-top: 5px;">
                            <div class="card-body">
                                 <a href=  <%= "/question/" + data[i]._id %>    >  <%= data[i].title %></a>
                                 <br>
                                 Tag:<%= " " + data[i].tag%>
                            </div>
                    </div>
                    
                    
            <% } %>

           
    </div>

  
    

</body>
</html>


