<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    <style>

    .center-div {
        margin: 0 auto;
        
        /* margin: 50px 300px 50px 300px; */
        width: 700px;
         
    }

    .ck-editor__editable {
      min-height: 250px;
    }

        /* .same-line {
            height: 10px; 
            position: relative;
        }
        .same-line div{
            display: inline-block;
            position: absolute;
        }
        .on-the-left {
            left:0px;
        }
        
        .on-the-right {
            right: 0px;
        }   */
    </style>
    
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/home" style="color: white;">ExchangeIdea</a>

  

    <ul class="navbar-nav ml-auto">

            <li><button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/askquestion">Ask Question</a></button></li>
    

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color: white;"><%= username %> profile</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"  style="color: teal">My Q&A</a>
                
                <a class="dropdown-item" href="/logout"  style="color: teal">Logout</a>
              </div>
            </li>

            
    </ul>

    </nav>

    



  

    <div class="center-div">
            <h5><%=question.title%></h5>
            <hr>
            <%-question.content%>
            <hr>
            <p>Tag: <%=question.tag%></p>
            <hr>
    </div>

    <div class="center-div">
            <% for(var i=0; i<question.answeredBy.length; i++) {%>
                <div>
                    <%- question.answeredBy[i].content%>
                    
                    <strong> Answered by: </strong><%= question.answeredBy[i].username%>
                    <hr>


                </div>
                    
                
                    
                    
                    
            <% } %>

    </div>

    <div class="center-div">
        <h5>Your Answer</h5>
        <form method="POST" action="/answer">
            <textarea class="form-control" id="editor" name="content"></textarea>
            <input class="form-control" type="hidden"  name="questionId" value="<%=question._id%>">
            <button class="form-control btn btn-primary" type="submit" style="background-color: #343a40;">Answer</button>
        </form>

    </div>
    

    <script>

        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                console.log( editor );
            } )
            .catch( error => {
                console.error( error );
            });
       

        // function replaceAll(searchString, replaceString, str) {
        //     return str.split(searchString).join(replaceString);
        // }
        // const el = document.getElementById("ckeditor");
        // var text = "<%=question.content%>";
        // //text = replaceAll("&lt;","<",text);
        // //text = replaceAll("&gt;",">",text);
        // console.log(text);
        // el.innerHTML = text;
        
        //el.appendChild(document.createTextNode());
    </script>
    

</body>
</html>